<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/css/oalecd9.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/my.css" />
    <!-- jquery -->
    <script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script>
        $(function(){
            $("shcut-blk").css("display", "none")

            $("def").nextAll().css("display", "none")

            $("def").click(function(){
                if ($(this).next().css("display") == "none"){
                    $(this).nextAll().css("display", "block")
                }
                else{
                    $(this).nextAll().css("display", "none")
                }
            })
        });
    </script>
</head>
<body>
    <div id="cur">
        {{ html | safe }}
    </div>
    <hr>raw<hr>
    <div id="raw">
        {{ raw | safe}}
    </div>
</body>
</html>
