<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="../static/css/oalecd9.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/my.css" />
    <!-- jquery -->
    <script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <script>
        $(function(){
            $("shcut-blk").css("display", "none")

            $("def").nextAll().css("display", "none")

            $("def").click(function(){
                if ($(this).next().css("display") == "none"){
                    $(this).nextAll().css("display", "block")
                }
                else{
                    $(this).nextAll().css("display", "none")
                }
            })

            $("#editHtmlButton").click(function(){
                if ($("#editHtmlForm").css("display") == "block"){
                    $("#editHtmlForm").css("display", "none")
                }else{
                    $("#editHtmlForm").css("display", "block")
                }
            })

            $("#editHtmlSubmit").click(function(){
                if ($("#editHtmlForm").css("display") == "block"){
                    $("#editHtmlForm").css("display", "none")
                }else{
                    $("#editHtmlForm").css("display", "block")
                }
                $.post(
                    "/edithtml",
                    {
                        entry: $("#entry").attr("value"),
                        raw: $("#editHtmlContent").val()
                    },
                    function (data, status) {
                        location.reload()
                    }
                );
            })

            $("#testButton").click(function () {
                $.post(
                    "/recordtest",
                    {
                        entry: $("#entry").attr("value"),
                        score: $("#testScore").val(),
                    },
                    function (data, status) {

                    }
                );
            })
        });
    </script>
</head>
<body>
    <input id="entry" type="text" name="entry" value={{entry}} style="display: none">

    <button id="editHtmlButton">修改</button>
    <div id="editHtmlForm" style="display: none">
        <textarea id="editHtmlContent" rows="3" cols="20"> {{raw}}</textarea>
        <button id="editHtmlSubmit">提交修改结果</button>
    </div>

    <input id="testScore" type="text" value="50">
    <button id="testButton">提交测试结果</button>

    <div id="cur">
        {{ html | safe }}
    </div>
    <hr>raw<hr>
    <div id="raw">
        {{ raw | safe}}
    </div>
</body>
</html>
